<script src="IP.js"></script>
<div class="ui red segment" style="background-color: #000000;">
    <div class="ui statistics four" style="background-color: #404451;">
        <div class="statistic">
        </div>
        <div class="statistic">
            <div class="text value">
                <font style="text-shadow: 0 0 7px #ff1601; color: #fbfdfe;">12:34<br>
                4/07/2023</font>
            </div>
            <div class="label">
                <font style="text-shadow: 0 0 7px #fb0909; color: #fbfdfe;">First Seen</font>
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                <font style="text-shadow: 0 0 7px #fb0d0d; color: #fbfdfe;">12:34<br>
                04/07/2023</font>
            </div>
            <div class="label">
                <font style="text-shadow: 0 0 7px #ff0a0a; color: #fbfdfe;">Last Seen</font>
            </div>
        </div>
        </div>
        <div class="statistic"></div>
    </div>
</div>